@import url('https://fonts.googleapis.com/css2?family=Shafarik&display=swap');

:root {
    --cor-principal:  #d6d3cd;
    --cor1:  #ff69b4;
    --cor2:  #bca5ae;
    --cor3:  #00bbaa;
    --cor4:  #008376;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    font-size: 1rem;
    font-family: 'Shafarik'; /*° Shafarik*/
}
#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor3);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}